---
import {SEO} from "astro-seo";

import "./../app.css"

import Header from "../../components/header.astro"
import Loader from "../../components/loader.astro";
import VideoSocialShare from "../../components/videosocialshare.astro"
import Divider from "../../components/divider.astro";
import Footer from "../../components/footer.astro";
import BlogText from "../../components/blogText";

var theologians = [
    {id:"1", views:"1", profile: "/pro-jackie.jpeg"},
    {id:"2", views:"1", profile: "/pro-tiffany.jpeg"},
    {id:"3", views:"1", profile: "/pro-chris.jpg"}
]

var blogs =  [
     {id:"1", views:"1", profile: "/pro-jackie.jpeg", title: "A Season of Hope", description: "In the season of Advent, there are four themes-hope, peace, joy and love. The first, hope. invites us to look with anticipation to the coming of Christ. A text connected with the first week of Advent is Isaiah 40:1-11. The prophet was addressing the Hebrew nation as they were in a land far from home.", creator: "Dr. Jackie L. Halstead, Ph.D., LMFT, MDiv", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/people.mp4", link: Astro.url.origin + "/podcasts/1",  blog: "<p>In the season of Advent, there are four themes-hope, peace, joy and love. The first, hope. invites us to look with anticipation to the coming of Christ. A text connected with the first week of Advent is Isaiah 40:1-11. The prophet was addressing the Hebrew nation as they were in a land far from home.</p><br/><p>God's people were so often in need of comfort. Some spent their life in slavery and saw their children and grandchildren born into slavery. Many lived in exile, bereft of the familiarity of their land and people. I wonder at the perspective of the individual in these contexts. Day after day, year after year, generation after generation—how did they maintain hope? How did they hold fast to the promises of God? We know that at times they did not. But there was always a remnant, a remnant that chose to remain faithful.</p><br/><p>Isaiah 40:1-11 must have been for them a drink to their thirsty souls. \"Comfort, speak comfort to my people, says your God. Speak tenderly to Jerusalem, and proclaim to her that her hard service has been completed…\" How they must have clung to the image given in verse 11 \"He tends his flock like a shepherd; He gathers the lambs in his arms and carries them close to his heart; he gently leads those that have young.\"</p><br/><p>This passage was not only for God's people of long ago, but continues to speak hope today. As we approach a season of gladness and celebration, many experience despair. This time of year shines a light on poverty, oppression, and the vast gulf between the haves and the have-nots. It highlights the inner poverty of loneliness, sadness, and difficulty with family. Paralleling the celebration is the increase in depression and suicide. The same cry of God's people ascends \"How long, Oh Lord?\" \"How long?\" How does one maintain hope?</p><br/><p>We in kinship with our family of faith of long ago, cling to the hope given by Isaiah. We look to our deliverer and remember what it is that He brings. He brings comfort. His offering is a balm for the soul. In the midst of the loneliness and pain, he offers his presence. In the midst of chaos, he offers his peace.</p><br/><p>Advent is a time of anticipation. A time of waiting—of holding our breath as we join with the church in expectation for the coming of the Messiah. We join with the vast family of God in the act of remembering God's comfort. We are reminded that we are gathered in his arms and carried close to his heart.</p>"},
     {id:"2", views: "1", profile: "/pro-tiffany.jpeg", title: "Breath Prayer Formation" , description: "Prayer is a fundamental spiritual discipline, but there are times words escape us. Anxiety is too high, the situation is too complex, or it has been too long since we've graced God's doorstep to piece together a conversation. There are several prayer practices that can address this common experience, like silence, or allowing the Spirit to \"intercede for us with groanings too deep for words\" (Romans 8:26). Breath Prayer is another helpful practice when our being longs to commune with God, but we need help doing so.",  creator: "Dr. Tiffany Dahlman", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/breathe.mp4" ,   blog: "<p>Prayer is a fundamental spiritual discipline, but there are times words escape us. Anxiety is too high, the situation is too complex, or it has been too long since we've graced God's doorstep to piece together a conversation. There are several prayer practices that can address this common experience, like silence, or allowing the Spirit to \"intercede for us with groanings too deep for words\" (Romans 8:26). Breath Prayer is another helpful practice when our being longs to commune with God, but we need help doing so.</p><br /><p>A breath prayer is a prayer you pray as you breathe. It is one sentence split between the inhale and the exhale. Some pray their breath prayer for 5 minutes to start the day. Others pray it as they remember to do so throughout the day, perhaps hundreds of times. The repetition of the prayer regulates breathing, which has many health benefits, and brings the specificity of the need to mind. This pressing prayer infusing our very breath is a means of peace and helps us to become more acutely aware of how God may be responding to it.</p><br /><p>I find it most helpful to craft a breath prayer in response to Jesus's question to Bartimaeus in Mark 10:46-52. Bartimaeus is blind and begging on the road when he sees Jesus through the crowd. He shouts persistently to get Jesus's attention until eventually Jesus calls him over and asks him, \"What do you want me to do for you?\"</p><br /><p>Bartimaeus answers, \"Rabbi, I want to see\" (v. 51). As a result, Bartimaeus is healed and follows Jesus.</p><br /><p>Imagine Jesus asks you this question, \"What do you want me to do for you?\" How would you answer? What is your one, urgent need for God in this moment?</p><br /><p>The next step is to transform that pressing need into a breath prayer, like [Inhale] Rabbi / [Exhale] I want to see.</p><br /><p>This approach to composing a breath prayer first identifies the characteristic or title of God you need most in this moment, like Rabbi, which will become the inhale. A list of ideas is attached below, all derived from the Bible. The second half, the exhale, is the expression of your deep need, like \"I want to see.\"</p><br /><p>Here are some examples:</p><br /><ul><li>[Inhale] \"Strong Tower\" / [Exhale] \"give me support to stand.\"</li><li>[Inhale] \"Mother bear\" / [Exhale] \"scare this temptation from my life.\"</li><li>[Inhale] \"Man of Sorrows\" / [Exhale] \"be present in my pain.\"</li><li>[Inhale] \"Lord of the Harvest\" / [Exhale] \"grow the seeds we\'ve planted in ______.\"</li><li>[Inhale] \"Radiant Wisdom\" / [Exhale] \"reveal to me the beautiful things.\"</li></ul><br /><p>Breathe this prayer until it is no longer your most pressing need. Journal where you experience God responding to it. May this practice bring you peace.</p><br /><h2>Some Names of God:</h2><p>Alpha and Omega<br />Master<br />Shepherd<br />ABBA/Father<br />Almighty/El Shaddai<br />Ancient of Days<br />Commander (of Angel Armies)<br />I AM<br />Judge<br />King of Kings<br />Potter<br />Creator<br />Lord of the Harvest<br />Lion of Judah<br />Consuming Fire<br />Head of the Church<br />Governor<br />Everlasting Father<br />God Over All/Sovereign One<br />Refiner's Fire<br />Strong Tower<br />Source<br />YHWH<br />Rock<br />Majesty<br />Jesus Christ<br />Lily of the Valley<br />God Who Sees<br />Emmanuel<br />Messiah/Anointed One<br />Hiding Place<br />Purifier<br />High Priest<br />Bread of Life<br />Shield<br />Living Water<br />Man of Sorrows<br />Breath<br />Lamb of God<br />Refuge<br />Dwelling Place<br />Healer<br />Intercessor<br />Merciful God<br />Mother Bear<br />Nursing Mother<br />Mother Eagle<br />Rabbi<br />Shepherd of Souls<br />Light of the World<br />Carpenter<br />Temple<br />True Light<br />Vine<br />Wisdom<br />Word<br />Morning Star<br />Spirit of Truth<br />Cornerstone<br />Counselor<br />Guide<br />Head of the Body<br />The Door<br />Mediator<br />Faithful Witness<br />Foundation<br />Fountain of Living Waters<br />Gentle Whisper<br />Comforter<br />Friend<br />Shepherd<br />Mother<br />Laboring Mother<br />Mother Hen<br />Love<br />Radiance<br />Husband<br />Prince of Peace<br />Bridegroom<br />Servant<br />Song<br />Diadem of Beauty</p><br />"},
]
--- 

<head>
    <SEO
      title="Center for Vocational Formation : Blog"
      description="Diverse writings from theologians and CFVF's staff. "
      openGraph={{
        basic: {
          title: "Center for Vocational Formation : Blog",
          type: "Diverse writings from theologians and CFVF's staff.",
          image: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
          },
          { name: "twitter:title", content: "Center for Vocational Formation : Vocatio Reimagined" },
          { name: "twitter:description", content: "Vocatio Reimagined is a podcasts that seeks to explore our vocational formation." },
        ],
      }}
    />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>

<body class="h-screen bg-[#191B1F] ">
   
	<Loader />
    <Header position="relative"/>

    <div class="h-screen  m-auto flex" id="">
        <div class="grid grid-cols-2 my-5 max-h-[300px] w-full">
            <div class="w-[90%] m-auto col-span-2 grid grid-cols-2">
                <div class="col-span-1 w-[100%] m-auto flex flex-col items-start justify-end">
                    <h2 class=" text-white  text-7xl ">
                        Read insightful  <span class="text-green-500">blogs</span>   <br> 
                        from thought leaders.
                    </h2>
                    <p class="mt-5 text-lg w-[70%] text-neutral-300">
                        From spiritual practices to deeper theological 
                        concepts. This is an in depth consideration of formation.
                    </p>    
                </div>
                
                <!-- <div class="mx-3"></div> -->
                <div class="col-span-1 m-auto  flex items-center justify-center">
                    {theologians.map((theologian) => (
                        <div class=" w-[120px] h-[120px] rounded-full overflow-hidden">
                            <img class="w-[130px] h-auto rounded-full " src={theologian.profile} alt="" />
                        </div>
                    )) }
                </div>
            </div>

            <Divider />

            <div class="col-span-2 mb-4  bg-black m-auto w-[90%] rounded-lg p-7 grid grid-cols-3 gap-10">
                {blogs.map((vid) => (
                    <div onclick="openNewWindow(this)" data-type="blog" data-id={vid.id} class="col-span-1 cursor-pointer inline-grid grid-cols-1 grid-rows-3  relative overflow-hidden max-h-[400px] h-full  rounded-lg bg-white shadow-md">
                            {/* <img class="row-span-1 relative z-10 top-0  w-full  object-cover opacity-100" src={vid.thumbnail} alt="" /> */}

                        <div class="relative row-span-2 h-full whitespace-normal z-30  left-0 bottom-0 p-5 grid grid-cols-1 grid-rows-2 gap-5">

                            <div class="row-span-1  flex flex-col text-black items-center justify-start">
                                <h2 class="my-2 w-[100%] text-left font-bold  text-2xl">{vid.title}</h2>
                                {/* {(vid.title.split(":")[1].length <= 19) ? <h2 class="my-2 w-[100%] text-left  text-4xl">{vid.title.split(":")[1]}</h2> : <h2 class="my-2 w-[100%] text-left  text-2xl">{vid.title.split(":")[1]}</h2>} */}
                                <div class="w-[100%] flex flex-row items-center justify-start">
                                    <img class="w-5 rounded-full" src={vid.profile} alt="" />
                                    <p class="ms-2 font-bold opacity-50">{vid.creator}</p>
                                </div>
                            </div>

                            <div class="row-span-1  flex flex-col text-black items-center justify-start">
                                <p class="opacity-80 text-sm text-left" >{vid.description.length > 200 ? vid.description.substring(0, 200) + "..." : vid.description}</p>
                            </div>
                        </div>

                        <div class="row-span-1 px-5  bottom-2 left-0 right-0 m-auto opacity-50 flex items-start justify-start text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            <p class="mx-2 text-sm">
                                {vid.views} Read
                            </p>
                        </div>
                    </div>
                ))}
            </div>
        </div>
       
    </div>

    <Footer />
</body>

<script type="text/javascript">
    function openNewWindow(el) {
        window.open("/" + $(el).data("type") +  "/" + $(el).data("id"), "_blank");
    }
</script>


<script>

</script>