---
import {SEO} from "astro-seo";

import "./../app.css"

import Header from "../../components/header.astro"
import Loader from "../../components/loader.astro";
import VideoSocialShare from "../../components/videosocialshare.astro"
import Divider from "../../components/divider.astro";
import Footer from "../../components/footer.astro";
import BlogText from "../../components/blogText";
import blogs from "./blogs.json";

--- 

<head>
    <SEO
      title="Center for Vocational Formation : Blog"
      description="Diverse writings from theologians and CFVF's staff. "
      openGraph={{
        basic: {
          title: "Center for Vocational Formation : Blog",
          type: "Diverse writings from theologians and CFVF's staff.",
          image: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
          },
          { name: "twitter:title", content: "Center for Vocational Formation : Vocatio Reimagined" },
          { name: "twitter:description", content: "Vocatio Reimagined is a podcasts that seeks to explore our vocational formation." },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>

<body class="h-screen bg-[#191B1F] ">
   
	<Loader />
    <Header position="relative"/>

    <div class="h-screen  m-auto flex" id="">
        <div class="grid grid-cols-2 my-5 max-h-[300px] w-full">
            <div class="w-[90%] m-auto col-span-2 grid grid-cols-2">
                <div class="col-span-2 lg:col-span-1 w-[90%] lg:w-[100%] m-auto flex flex-col items-start justify-end">
                    <h2 class=" text-white  text-7xl ">
                        Read insightful  <span class="text-green-500">blogs</span> 
                        from thought leaders.
                    </h2>
                    <p class="mt-5 text-lg w-[90%] lg:w-[70%] text-neutral-300">
                        From spiritual practices to deeper theological 
                        concepts. This is an in depth consideration of formation.
                    </p>    
                </div>
                
                <!-- <div class="mx-3"></div> -->
                <div class="p-5  col-span-2 lg:col-span-1 m-auto  flex items-center justify-center">
                    {blogs.theologians.map((theologian) => (
                        <div class=" w-[120px] h-[120px] rounded-full overflow-hidden">
                            <img class="w-[130px] h-auto rounded-full " src={theologian.profile} alt="" />
                        </div>
                    )) }
                </div>
            </div>

            <Divider />

            <div class="col-span-2 mb-4  bg-black m-auto w-[90%] rounded-lg p-7 grid grid-cols-2 lg:grid-cols-3 gap-10">
                {blogs.posts.map((vid) => (
                      <a href={`/blog/` + vid.id}  data-type="blog" data-id={vid.id} class="col-span-2 cursor-pointer inline-grid grid-cols-1 grid-rows-3  relative overflow-hidden max-h-[400px] h-full  rounded-lg bg-white shadow-md">
                            {/* <img class="row-span-1 relative z-10 top-0  w-full  object-cover opacity-100" src={vid.thumbnail} alt="" /> */}

                        <div class="relative row-span-2 h-full whitespace-normal z-30  left-0 bottom-0 p-5 grid grid-cols-1 grid-rows-2 gap-5">

                            <div class="row-span-1  flex flex-col text-black items-center justify-start">
                                <h2 class="my-2 w-[100%] text-left font-bold  text-2xl">{vid.title}</h2>
                                {/* {(vid.title.split(":")[1].length <= 19) ? <h2 class="my-2 w-[100%] text-left  text-4xl">{vid.title.split(":")[1]}</h2> : <h2 class="my-2 w-[100%] text-left  text-2xl">{vid.title.split(":")[1]}</h2>} */}
                                <div class="w-[100%] flex flex-row items-center justify-start">
                                    <img class="w-5 rounded-full" src={vid.profile} alt="" />
                                    <p class="ms-2 font-bold opacity-50">{vid.creator}</p>
                                </div>
                            </div>

                            <div class="row-span-1  flex flex-col text-black items-center justify-start">
                                <p class="opacity-80 text-sm text-left" >{vid.description.length > 200 ? vid.description.substring(0, 200) + "..." : vid.description}</p>
                            </div>
                        </div>

                        <div class="row-span-1 px-5  bottom-2 left-0 right-0 m-auto opacity-50 flex items-start justify-start text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            <p class="mx-2 text-sm">
                                {vid.views} Read
                            </p>
                        </div>
                    </a>
                ))}
            </div>
        </div>
       
    </div>

    <Footer />
</body>

<script type="text/javascript">
    function openNewWindow(el) {
        window.open("/" + $(el).data("type") +  "/" + $(el).data("id"), "_blank");
    }
</script>


<script>

</script>