---
import "./app.css"
import Header  from "../components/header.astro";
import Loader from "../components/loader.astro";
import {SEO} from "astro-seo";
import SearchBar from "../components/searchBar";

var formationVideos =  [
     {id:"1",views: "1.2K", title: "Colors of Fall", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatio_fall.png", url: "https://acu-cdn-pull.b-cdn.net/Colors%20of%20Fall.mp4", link: Astro.url.origin + "/podcasts/1"},
    //  {id:"2",views: "1.2K", title: "Child of the Creator", creator: "Dr. Jerry Taylor", thumbnail: "/vocatio_teddy.png", url: "https://acu-cdn-pull.b-cdn.net/childOfTheCreator_formation.mp4"},
    //  {id:"3", views: "1.2K",title: "Rest", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatio_rest.png", url: "https://acu-cdn-pull.b-cdn.net/Rest.m4v"},
    //  {id:"4", views: "1.2K",title: "The Slow Way", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatio_slowway.png", url: "https://acu-cdn-pull.b-cdn.net/The%20Slow%20Way%20.m4v"}
]

var podcastVideos =  [
     {id:"1", views: "1.2K", title: "Episode 1 : Creating Space in a Distracted World", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%201%20Creating%20Space%20in%20a%20Distractred%20World.m4v", link: Astro.url.origin + "/podcasts/1"},
    //  {id:"2", views: "10K", title: "Episode 2 : Radical Hospitality", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%202%20Radical%20Hospitality.m4v"},
    //  {id:"3", views: "4.5K", title: "Episode 3 : The spiritual Art of Slowing Down", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%203%20The%20Spiritual%20Art%20of%20Slowing%20Down.m4v"},
    //  {id:"4", views: "2K", title: "Episode 4 : When Your Calling and Career Don't Align", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%204%20When%20Your%20Calling%20and%20Career%20Do%20Not%20Align.m4v"},
]

var blogPosts =  [
     {id:"1", views: "1.2K", title: "Episode 1 : Creating Space in a Distracted World", description: "Exploring the attributes of God as revealed in Scripture, we discover profound insights that shape our understanding of faith, worship, and daily life.", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%201%20Creating%20Space%20in%20a%20Distractred%20World.m4v", link: Astro.url.origin + "/podcasts/1"},
    //  {id:"2", views: "10K", title: "Episode 2 : Radical Hospitality", creator: "Dr. Christopher Cobbler", description: "By examining biblical truths and their relevance to modern issues, we uncover how theology influences societal values and guides our responses to cultural challenges.", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%202%20Radical%20Hospitality.m4v"},
    //  {id:"3", views: "4.5K", title: "Episode 3 : The spiritual Art of Slowing Down", description: "The Bible offers timeless teachings that inform our beliefs and actions, providing a solid foundation for spiritual growth and faithful living.", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%203%20The%20Spiritual%20Art%20of%20Slowing%20Down.m4v"},
    //  {id:"4", views: "2K", title: "Episode 4 : When Your Calling and Career Don't Align", description: "Bridging the gap between doctrine and everyday experience, theology equips us to navigate life's complexities with wisdom, purpose, and unwavering faith.", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%204%20When%20Your%20Calling%20and%20Career%20Do%20Not%20Align.m4v"},
]
---

<head>
	<SEO
      title="ACU : Formation starts inside."
      description="Shape your vocation with through ACU's Center for Vocational Formation. With immersive videos and captivating podcasts, you'll grow to forming your vocation."
      openGraph={{
        basic: {
          title: "ACU : Formation starts inside.",
          type: "Shape your vocation with through ACU's Center for Vocational Formation.",
          image: "https://acu-cdn-pull.b-cdn.net/seo-header.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://acu-cdn-pull.b-cdn.net/seo-header.png",
          },
          { name: "twitter:title", content: "ACU : Formation starts inside." },
          { name: "twitter:description", content: "Shape your vocation with through ACU's Center for Vocational Formation." },
        ],
      }}
    />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css" integrity="sha512-/AilQf/shuEGfh8c3DoIqcIqHZCKpiImSyt+fxIKJphHiNa6QMPb6AbDly6rkjmGr/5OZd35JtvVkbEKnCZO+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/fullpage.min.css" integrity="sha512-cdMjnD4i86qiUIK3pyOMeYKdJ2I0gy0CVZm2AvGuXgMRDFdoIEI2I/x39pZlRsMaI4IEZBJbsNuWVawly1nY/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/fullpage.min.js" integrity="sha512-jedW9bHnXiSMKNbXfrEQ1gDCRYO8ewRlWPWPf4Fv1LpUyYB0fphiWlUVSGI2Dvwem1gUk0x1Y+cWs4lCwoEo8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js" integrity="sha512-0xW5KFMtT462F65vVvIejNawM1U2Fp/yhItmQVFUwdYP+R9tQFCn4QtLEhkp6RoGovZ6YCvbxy+GVCtGv0+nvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/vendors/easings.js" integrity="sha512-FFmLOg/pFlqTgDEWhqL3zxfLRRjv54Dx170T9CgCiTx4+iVVEMPXku6egqJ9wau9y9ORJIaPFuLYR3nsFBm5uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>

<body class="m-auto">

	<!-- <Loader /> -->
	<!-- <SearchBar client:load/> -->

	<!-- fullPage.js HTML -->
	<div class="h-full w-[100%] m-auto" id="fullpage">
		<div class="section overflow-hidden  bg-black h-full flex items-center justify-center ">
		
			<div class="absolute z-20  top-7 right-0 left-0 m-auto w-[91%] flex items-center justify-between ">
				<Header />
			</div>

			<video class="absolute opacity-75 top-0  overflow-hidden object-fill" width="120%" height="auto" autoplay data-autoplay muted playsinline loop>
				<source data-src="https://acu-cdn-pull.b-cdn.net/Website%20Cover%20Video%201.0.mp4" type="video/mp4">
			</video>

			<div class="opacity-0 fadeIn absolute right-0 bottom-10 left-0 flex flex-col items-center justify-center">
				
				<div class="z-20 w-[70%] flex flex-col items-center justify-center">
					<div class="mb-10 flex items-center justify-evenly">
						<h1 class="h-fit text-left bebas-neue text-5xl text-white">
							Formation
							Starts Here. 
						</h1>
						<div class=" mx-5 w-1/2 h-1 border-2 border-white rounded-full"></div>
						<p class="my-4 text-xl text-left text-white">
							Flourishing. For the Sake of the World.
						</p>
					</div>
					
					<img class="w-5 h-auto m-auto" src="/scroll-down.gif" alt="">
					<!-- <button class="my-4 w-[220px] h-[50px] bg-white hover:bg-black hover:text-white rounded-lg text-black text-center"> 
						Explore resources
						</button> -->
				</div>
			</div>
		</div>
		<div id="" class="section relative overflow-hidden   bg-black flex flex-col items-center justify-center">
			<!-- <img src="/01.png" class="w-[40%] h-auto z-10 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
			<img class="w-full opacity-50 z-10 zoom-slow h-auto absolute top-0 right-0 left-0 bottom-0 m-auto" src="/Welcome Photo-2.jpg" alt="" />

			<div class="content z-20 absolute top-0 left-0 right-0  bottom-0 overflow-hidden max-h-[95%] z-20 w-[90%] h-auto m-auto   flex flex-col items-center justify-center" >
				<h2 class="z-20 text-white uppercase my-5 text-3xl w-[60%]">
					Learn how ACU is reimagining digital spaces.
				</h2>


				<div class="relative z-20 w-[60%] my-4 m-auto  rounded-lg overflow-hidden ">
					<!-- <img class="absolute z-10 bg-blend-multiply opacity-50 w-full h-auto left-0 bottom-0 " src="overlay.png" alt="" /> -->
					<svg id="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class=" absolute z-30 bottom-3 right-3  size-8">
						<path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
					</svg>
					<svg id="pause" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="hidden z-30 absolute bottom-3 right-3 size-8">
						<path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
						</svg>
						

					<video id="vid" width="100%" height="100%"  data-autoplay autoplay  playsinline loop>
						<source data-src="https://acu-cdn-pull.b-cdn.net/WebsiteWelcome.mp4" type="video/mp4">
					</video>
				</div>

				<div class="hidden w-[50%] my-3 grid  grid-cols-4 grid-rows-1 gap-10">
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4 " >
						<h4 class=" row-span-1 font-bold text-5xl text-center">23k</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Students</p>
					</div>
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4  " >
						<h4 class=" row-span-1 font-bold text-5xl text-center">300</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Courses</p>
					</div>
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4 " >
						<h4 class="row-span-1 font-bold text-5xl text-center">10k</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Certificates completed</p>
					</div>
					<div class="max-h-[85px] min-h-[85px] col-span-1 grid grid-cols-1 grid-rows-2 gap-4  " >
						<h4 class="row-span-1 font-bold text-5xl text-center">10:1</h4>
						<p class="opacity-80 row-span-1 text-sm text-center">Student-teacher raion</p>
					</div>
				</div>

			</div>

			
			<!-- <div class="slide"><h1>Section 2</h1></div>
			<div class="slide"><h1>Slide 2.2</h1></div>
			<div class="slide"><h1>Slide 2.3</h1></div> -->
		</div>

		<div id="onlineChurhSection" class="section relative onlineChuch overflow-hidden  bg-gray-400 flex flex-col items-center justify-center" data-anchor="onlineChurch">
			<!-- <img src="/05.png" class="w-[40%] h-auto z-20 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
			<!-- <img src="community-mock.png" class="zoom-faster rounded-lg w-[40%] h-auto z-20 absolute top-0 left-0 bottom-0 right-0 m-auto h-fit " alt="" /> -->
			<!-- <img src="blob-1.png" class="w-[80%] h-auto z-10 absolute top-0 -left-[20%] bottom-0  m-auto h-fit " alt="" /> -->
			<!-- <img src="/online-text.png" class="boundText w-[50%] h-auto z-40 absolute top-[0%] bottom-0 left-0 right-0 m-auto h-fit " alt="" /> -->
			
			<video class="absolute z-10 opacity-100 top-0  overflow-hidden object-fill" width="120%" height="auto" autoplay data-autoplay muted playsinline loop>
				<source data-src="https://acu-cdn-pull.b-cdn.net/Formation%20Community%20Strip.mp4" type="video/mp4">
			</video>

			<div class="text-white z-40 absolute top-0 bottom-0 left-0 right-0 m-auto flex flex-col items-center justify-center">
				<div class="my-3">
					<h1 class="uppercase text-3xl">Online formation starts here.</h1>
				</div>
				<div class="mt-5 mb-10 flex items-center justify-center">
					<p class="text-md text-center m-auto w-[60%] ">
						An online community designed with your spiritual and vocational 
						formation in mind. Intimate spaces to engage meaningful content, 
						share stories and grow together.
					</p>
				</div>

				<div class=" z-50 w-[40%] flex flex-row items-center justify-center">
					<a href="https://community.vocationalformation.com/join?invitation_token=0397643d810f3c927a4ad1dd375a4c65af2f5608-f213ec46-5703-4e64-96ea-ae4a32a0283e" class="py-3 px-4 w-[40%] me-5 text-black border-2 bg-white border-white rounded-full ">
						Join our community
					</a>
					<a href="#" class="py-3 px-4 w-[40%] text-white  border-2 border-white rounded-full ">
						Learn More
					</a>
				</div>
			
			</div>
		</div> 

		<div id="formationVideos" class="overflow-hidden section bg-stone-200" >
			<!-- <img src="/02.png" class="w-[40%] h-auto z-10 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
		
			<video class="absolute z-10 opacity-75 top-0  overflow-hidden object-fill" width="120%" height="auto" autoplay data-autoplay muted playsinline loop>
				<source data-src="https://acu-cdn-pull.b-cdn.net/formationVideo.mp4" type="video/mp4">
			</video>

			<div class="content absolute top-0 left-0 right-0  bottom-0 overflow-hidden  z-20 w-[90%] h-full m-auto   flex flex-col items-center justify-center" >
				<!-- <h2 class=" text-black my-5 text-5xl w-[60%]">
                    Creating space to <span class="text-blue-500">discover</span> God's invitation
				</h2>

				<div class="my-3 text-blue-500  flex items-center justify-center">
					<a href="" class="rounded-full p-3 px-5 text-sm bg-white font-bold">#Devotional</a>
					<a href="" class="rounded-full p-3 px-5 text-sm bg-white font-bold mx-3">#MomentsOfStillness</a>
					<a href="" class="rounded-full p-3 px-5  text-sm bg-white font-bold ">#GuidedPractices</a>
				</div> -->

				<div class="absolute grid grid-cols-3  bottom-10 left-5 m-auto w-auto h-[400px] ">
					
					<div id="accordion-collapse" class="col-span-1 flex flex-col items-start justify-end text-white px-4 " data-accordion="collapse" data-active-classes="bg-transparent" >
						<h2 id="accordion-collapse-heading-1">
							<h1 class="text-left uppercase text-3xl ">Formation Videos</h1>
						</h2>
						<p class="mt-3  text-md text-left">
								Thoughtful, curated content to disrupt an unhealthy rhythm of life.
						</p>
						<div class="my-3 mb-7 text-blue-500  flex items-center justify-center">
							<a href="" class="rounded-full p-3 px-5 text-sm bg-white font-bold ">#Devotional</a>
							<a href="" class="rounded-full p-3 px-5 text-sm bg-white font-bold mx-3">#MomentsOfStillness</a>
							<a href="" class="rounded-full p-3 px-5  text-sm bg-white font-bold ">#GuidedPractices</a>
						</div>
						<div class=" *:py-2 flex flex-row items-start ">
							<!-- <a href="/formation/1" class="py-3 px-4 w-[250px]  font-bold border-2 bg-white text-black border-white rounded-full ">
								View collection
							</a> -->
							<a href="/formation/1" class="py-3 px-4 w-[150px]  font-bold border-2 border-white rounded-full ">
								Learn More
							</a>
						</div>
					</div>

					<div class="col-span-1">

					</div>

					<div class="relative  hidden   h-full w-full col-span-1 "  >
						<div class="accordion-content pb-3 overflow-x-auto overflow-y-hidden w-full h-full absolute top-0 left-0  items-start whitespace-nowrap" aria-controls="accordion-collapse-body-1">
							{formationVideos.map((vid) => (
								<div onclick="openNewWindow(this)" data-type="formation" data-id={vid.id} class="cursor-pointer relative overflow-hidden min-w-[300px] max-w-[300px] h-full inline-grid grid-rows-3 grid-cols-1 gap-4  me-4 rounded-lg bg-black shadow-md">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute z-50 bottom-3 right-3 text-white size-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
									</svg>

									<div class="row-span-2 relative overflow-hidden">
										{/* <img class="absolute z-20 bg-blend-multiply opacity-50 w-full h-auto left-0 bottom-0 " src="overlay.png" alt="" /> */}
										<img class="relative z-10 top-0 bottom-0 right-0 left-0 m-auto overflow-hidden rounded-lg  w-[100%]   opacity-80" src={vid.thumbnail} alt="" />
									</div>
									
									<div class="row-span-1 grid grid-rows-2 relative">
										<div class="whitespace-normal z-30 relative left-0 bottom-0 p-4 flex flex-col items-start justify-center">
											<p class="text-white opacity-80 text-md" >{vid.creator}</p>
											<h2 class="my-2 w-[100%] text-white text-left text-3xl">{vid.title}</h2>
										</div>
										<div class="row-span-1 px-5 absolute bottom-2 left-0 right-0 opacity-50 flex items-start justify-start text-white">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
												<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
											</svg>
											<p class="mx-2 text-sm">
												{vid.views} Views
											</p>
										</div>
									</div>
									
									
								</div>
							))}
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="podcasts" class="overflow-hidden section bg-gray-700" >
			<video class="absolute z-10 opacity-75 top-0  overflow-hidden object-fill" width="100%" height="auto" autoplay data-autoplay muted playsinline loop>
				<source data-src="https://acu-cdn-pull.b-cdn.net/Episode%202%20Radical%20Hospitality.m4v" type="video/mp4">
			</video>
			
			<!-- <img src="/03.png" class="w-[40%] h-auto z-10 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
			<div class="content absolute top-0 left-0 right-0  bottom-0 overflow-hidden  z-20 w-[90%] h-full m-auto   flex flex-col items-center justify-center" >
			
				<div class="absolute grid grid-cols-3  bottom-10 left-5 m-auto w-auto h-[400px] ">
					
					<div id="accordion-collapse" class="col-span-1 flex flex-col items-start justify-end text-white px-4 " data-accordion="collapse" data-active-classes="bg-transparent" >
						<h2 id="accordion-collapse-heading-1">
							<h1 class="text-left  text-5xl ">Podcasts</h1>
						</h2>
						<p class="mt-3  text-md text-left">
							Reimagining our sense of calling in the world.
						</p>
						<div class="my-3 mb-7 text-orange-500  flex items-center justify-center">
							<a href="" class="rounded-full p-3 px-5 text-sm bg-white font-bold ">#VocatioReimagined</a>
						</div>
						<div class=" *:py-2 flex flex-row items-start ">
							<!-- <a href="/formation/1" class="py-3 px-4 w-[250px]  font-bold border-2 bg-white text-black border-white rounded-full ">
								View collection
							</a> -->
							<a href="/formation/1" class="py-3 px-4 w-[150px]  font-bold border-2 border-white rounded-full ">
								Learn More
							</a>
						</div>
					</div>

					<div class="content hidden absolute top-0 left-0 right-0  bottom-0 overflow-hidden max-h-[95%] z-20 w-[90%] h-auto m-auto   flex flex-col items-center justify-center" >
						<h2 class=" text-white my-5 text-5xl w-[60%]">
							Visual <span class="text-orange-500">Podcasts</span>, <br/> 
							intentional conversations.
						</h2>

						<div class="w-full my-3 grid  grid-cols-3 grid-rows-1 h-[400px] gap-4 ">
							<div class="text-white accordion-nav col-span-1 flex items-center justify-center">
								<div id="accordion-collapse" class="px-4 m-auto" data-accordion="collapse" data-active-classes="bg-transparent" >
									<h2 id="accordion-collapse-heading-1">
										<h1 class="text-left font-bold text-4xl ">Vocatio Reimagined</h1>
									</h2>
									<div class="py-2 flex flex-col items-start ">
										<p class="my-4  text-md text-left">
											Reimagining our sense of calling in the world.
										</p>
										<a href="/podcasts/1" class="py-3 px-4 w-[150px]  font-bold border-2 border-white rounded-full ">
											Learn More
										</a>
									</div>
								</div>
							</div>

							

							<div class="relative   h-full w-full col-span-2 "  >
								<div class="accordion-content pb-3 overflow-x-auto overflow-y-hidden w-full h-full absolute top-0 left-0  items-start whitespace-nowrap" aria-controls="accordion-collapse-body-1">
									{podcastVideos.map((vid) => (
										<div onclick="openNewWindow(this)" data-type="podcasts" data-id={vid.id} class="cursor-pointer inline-grid grid-cols-1 grid-rows-2 relative overflow-hidden min-w-[300px] max-w-[300px] h-full me-4 rounded-lg bg-white shadow-md">
											<img class="row-span-1 relative z-10 top-0  w-full  object-cover opacity-100" src={vid.thumbnail} alt="" />
											<div class="relative row-span-1 h-full whitespace-normal z-30  left-0 bottom-0 p-5 grid grid-cols-1 grid-rows-2">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute z-50 bottom-3 right-3 text-black size-4">
													<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
												</svg>

												<div class="row-span-1  flex flex-col text-black items-center justify-start">
													<h2 class="my-2 w-[100%] text-left opacity-50  text-normal">{vid.title.split(":")[0]}</h2>
													{(vid.title.split(":")[1].length <= 19) ? <h2 class="my-2 w-[100%] text-left  text-4xl">{vid.title.split(":")[1]}</h2> : <h2 class="my-2 w-[100%] text-left  text-2xl">{vid.title.split(":")[1]}</h2>}
													{/* <h2 class="my-2 w-[100%] text-left  text-2xl">{vid.title.split(":")[1]}</h2> */}
													{/* <p class="opacity-80 text-sm" >{vid.creator}</p> */}
													{/* <button class="hover:bg-stone-700 hover:text-white  my-3 font-bold rounded-full w-[150px] h-[50px] bg-white text-black text-sm p-3">
														Watch Now
													</button> */}
												</div>
												
												<div class="row-span-1 px-5 absolute bottom-2 left-0 right-0 m-auto opacity-50 flex items-start justify-start text-black">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
														<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
														<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
													</svg>
													<p class="mx-2 text-sm">
														{vid.views} Views
													</p>
												</div>
											</div>
										</div>
									))}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="blogs" class="overflow-hidden section bg-gray-900" >
			<!-- <img src="/04.png" class="w-[40%] h-auto z-10 absolute top-0 left-0 h-fit opacity-10" alt="" /> -->
			
			<div class="content absolute top-0 left-0 right-0  bottom-0 overflow-hidden max-h-[95%] z-20 w-[90%] h-auto m-auto   flex flex-col items-center justify-center" >
				<h2 class=" text-white my-5 text-5xl w-[60%]">
					Read insightful  <span class="text-green-500">blogs</span>   <br> 
					from theologians.
				</h2>

				<div class="w-full my-3 grid  grid-cols-3 grid-rows-1 h-[400px] gap-4 ">
					<div class="text-white accordion-nav col-span-1 flex items-center justify-center">
						<div id="accordion-collapse" class="px-4 m-auto" data-accordion="collapse" data-active-classes="bg-transparent" >
							<h2 id="accordion-collapse-heading-1">
								<h1 class="text-left font-bold text-4xl ">Blogs</h1>
							</h2>
							<div class="py-2 flex flex-col items-start ">
								<p class="my-4  text-md text-left">
									Read through topics on formaton, devotion, and biblical themes. 
								</p>
								<a href="/podcasts/1" class="py-3 px-4 w-[150px]  font-bold border-2 border-white rounded-full ">
									Learn More
								</a>
							</div>
						</div>
					</div>

					<div class="relative   h-full w-full col-span-2 "  >
						<div class="accordion-content pb-3 overflow-x-auto overflow-y-hidden w-full h-full absolute top-0 left-0  items-start whitespace-nowrap" aria-controls="accordion-collapse-body-1">
							{blogPosts.map((vid) => (
								<div onclick="openNewWindow(this)" data-type="blog" data-id={vid.id} class="cursor-pointer inline-grid grid-cols-1 grid-rows-2 relative overflow-hidden min-w-[300px] max-w-[300px] h-full me-4 rounded-lg bg-white shadow-md">
									{/* <img class="row-span-1 relative z-10 top-0  w-full  object-cover opacity-100" src={vid.thumbnail} alt="" /> */}

									<div class="relative row-span-2 h-full whitespace-normal z-30  left-0 bottom-0 p-5 grid grid-cols-1 grid-rows-2">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute z-50 bottom-3 right-3 text-black size-4">
											<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
										</svg>

										<div class="row-span-1  flex flex-col text-black items-center justify-start">
											<h2 class="my-2 w-[100%] text-left opacity-50  text-normal">{vid.title.split(":")[0]}</h2>
											{(vid.title.split(":")[1].length <= 19) ? <h2 class="my-2 w-[100%] text-left  text-4xl">{vid.title.split(":")[1]}</h2> : <h2 class="my-2 w-[100%] text-left  text-2xl">{vid.title.split(":")[1]}</h2>}
											{/* <h2 class="my-2 w-[100%] text-left  text-2xl">{vid.title.split(":")[1]}</h2> */}
											{/* <p class="opacity-80 text-md text-left" >{vid.description}</p> */}
											{/* <button class="hover:bg-stone-700 hover:text-white  my-3 font-bold rounded-full w-[150px] h-[50px] bg-white text-black text-sm p-3">
												Watch Now
											</button> */}
										</div>

										<div class="row-span-1  flex flex-col text-black items-center justify-start">
											<p class="opacity-80 text-sm opacity-50 text-left" >{vid.description}</p>
										</div>
										
										<div class="row-span-1 px-5 absolute bottom-2 left-0 right-0 m-auto opacity-50 flex items-start justify-start text-black">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
												<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
												<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
											</svg>
											<p class="mx-2 text-sm">
												{vid.views} Read
											</p>
										</div>
									</div>
								</div>
							))}
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>

	<script type="text/javascript">
		function openNewWindow(el) {
			window.open("/" + $(el).data("type") + "/" + $(el).data("id"), "_blank");
		}
	</script>

	<script>
		(function() {
			function togglePlayPause() {
				var vid =document.getElementById("vid");

				if  (vid.paused) {
						vid.play();
						$("#play").addClass("hidden");
						$("#pause").removeClass("hidden");

					} else {
						vid.pause()
						$("#pause").addClass("hidden");
						$("#play").removeClass("hidden");
					};

			}
					
			var myFullpage = new fullpage("#fullpage", {
				// Get your license at https://alvarotrigo.com/fullPage/pricing
				licenseKey: "M9D46-QB92H-PJH47-SR3PK-YYTON",
				onLeave: function( origin, destination, direction, trigger){
						var loadedSlide = this;
						if((origin.index == 0 && direction =='down')
						|| (origin.index == 2 && direction =='up')){
							togglePlayPause(); 
						}
						if(origin.index == 2 && direction =='down'){
							$("#onlineChurhSection").find(".boundText").addClass("zoom");
						}
						if(origin.index == 3 && direction =='up'){
							$("#onlineChurhSection").find(".boundText").removeClass("zoom");
						}
					}
				});

			$(document).ready(function() {


				$("#play, #pause").on("click", function() {
					togglePlayPause(); 
				});

				$(".resourceButton").each(function(index) {
					if ($(this).attr("aria-expanded") == "false") {
						$(this).addClass("opacity-50");
						$(this).find(".tab-indicator").addClass("hidden");

					}

					if ($(this).attr("aria-expanded") == "true") {
					var controls = $(this).attr("aria-controls");
						
						$("#" + controls).addClass("animate-fade");
						$(this).find(".tab-indicator").removeClass("hidden");

						$(".accordion-content").each(function( index) {
							console.log($(this).attr("aria-controls") );
							if ($(this).attr("aria-controls") == controls) {
								$(this).removeClass("hidden");
								$(this).addClass("animate-fade animation-delay-600 flex");
							}
						})

					}
				});

				$(".resourceButton").on("click", function() {
					var controls = $(this).attr("aria-controls");


					$("resourceButton").each(function(index) {
						if ($(this).attr("aria-expanded") == "true") {
							$(this).addClass("opacity-50");
							$(this).find(".tab-indicator").addClass("hidden");
						}
					});

					$(".accordion-content").each(function( index) {
						if ($(this).attr("aria-controls") == controls) {
							$(this).removeClass("hidden");
							$(this).addClass("animate-fade animation-delay-600 flex");
						} else {
							$(this).addClass("hidden");
							$(this).removeClass("animate-fade animation-delay-600 flex");
						}
					})

					$(this).removeClass("opacity-50");
					$(this).find(".tab-indicator").removeClass("hidden");
					$(this).attr("aria-expanded", false)

					$("#" + controls).addClass("animate-fade");
				})
			});
		})();
		
	</script>


</body>

