---
import Header from "../../components/header.astro"
import Loader from "../../components/loader.astro";
import VideoSocialShare from "../../components/videosocialshare.astro"
import {SEO} from "astro-seo";


import "./../app.css"
import Footer from "../../components/footer.astro";
export function getStaticPaths() {
  return [
    {params: {pod: '1'}},
    {params: {pod: '2'}},
    {params: {pod: '3'}},
    {params: {pod: '4'}}
  ];
}

var videos =  [
     {id:"1", views:"1", title: "Episode 1 : Creating Space in a Distracted World", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%201%20Creating%20Space%20in%20a%20Distractred%20World.m4v", link: Astro.url.origin + "/podcasts/1"},
     {id:"2", views: "1", title: "Episode 2 : Radical Hospitality", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%202%20Radical%20Hospitality.m4v"},
     {id:"3", views: "1", title: "Episode 3 : The spiritual Art of Slowing Down", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%203%20The%20Spiritual%20Art%20of%20Slowing%20Down.m4v"},
     {id:"4", views: "1", title: "Episode 4 : When Your Calling and Career Don't Align", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%204%20When%20Your%20Calling%20and%20Career%20Do%20Not%20Align.m4v"},
]

const { pod } = Astro.params;
const host = Astro.url.host;

var res = {}
for (var vid of videos) {
    if (pod == vid.id) {
        res = vid;
    }
}

--- 

<head>
    <SEO
      title="Center for Vocational Formation : Vocatio Reimagined"
      description="Vocatio Reimagined is a podcasts that seeks exploring what it takes and the challenges around forming our vocation in a modern culture."
      openGraph={{
        basic: {
          title: "Center for Vocational Formation : Vocatio Reimagined",
          type: "Vocatio Reimagined is a podcasts that seeks to explore our vocational formation.",
          image: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
          },
          { name: "twitter:title", content: "Center for Vocational Formation : Vocatio Reimagined" },
          { name: "twitter:description", content: "Vocatio Reimagined is a podcasts that seeks to explore our vocational formation." },
        ],
      }}
    />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>

<body class="h-screen bg-[#313638] ">

	<Loader />

    <div class="h-screen w-[95%] m-auto" id="">
        <div style="background: #313638" class="  overflow-hidden  bg-[#313638]  flex flex-col items-center justify-center ">
        

            <div class="grid grid-cols-4 auto-rows-auto  gap-4  overflow-hidden h-screen  p-3">
                <div class="mb-4 col-span-4 row-span-1 max-h-[100px] w-full relative p-3">
                    <div class=" z-20  top-10 right-0 left-0 m-auto w-[100%] flex items-center justify-between ">
                        <Header />
                    </div>
                </div>

                <div class="col-span-3  h-full p-3 overflow-y-scroll">
                    

                        <!-- <img id="controlplay" class="absolute w-20 h-20 z-50 bottom-3 right-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM3pOh5Jpss90QbjOiLKG1HB-Qx3DZQsjoFA&s" alt="" /> -->
                    <div class="w-fit h-fit relative rounded-lg overflow-hidden shadow-lg" >
                        <svg id="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class=" absolute z-30 bottom-3 right-3  size-8">
                            <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
                        </svg>
                        <svg id="pause" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="hidden z-30 absolute bottom-3 right-3 size-8">
                            <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
                            </svg>
                            
                        <video id="vid" class=" opacity-75 m-auto  rounded-lg overflow-hidden object-fill max-w-[1000px]" width="100%" height="100%"  playsinline>
                            <!-- <source src="/modernhome.mp4" type="video/mp4"> -->
                            <source src={res.url} type="video/mp4">
                        </video>
                    </div> 

                    <div class="grid grid-cols-2  z-30 mt-4 mb-3 text-white  ">
                        <div class="cols-span-1 flex flex-col items-start">
                            <p class="font-bold opacity-50 text-md">{res.creator}</p>
                            <h2 class=" my-2 raleway-thin text-xl">{res.title}</h2>
                        </div>
                        
                        <VideoSocialShare title={res.title} link={"https://vocationalformation.com/podcasts/" + res.id} > 
                    </div>
                </div>

                <div class="col-span-1 h-full overflow-y-scroll p-3 ">
                    <h3 class="font-bold mb-3 text-xl text-gray-400">
                        More on <span class="text-orange-500">Vocation</span>
                    </h3>
                    {videos.map((vid) => (
                        <div onclick="openNewWindow(this)" data-id={vid.id} class="cursor-pointer mb-4 border border-gray-500 grid grid-rows-3 max-h-[300px]  transition-all ease-in-out text-white bg-transparent auto-rows-auto  overflow-hidden rounded-lg p-3">
                                <div class="row-span-2  rounded-lg overflow-hidden">
                                <img class="   m-auto  object-fit rounded-lg" src={vid.thumbnail} alt="" />
                            </div>
                            <div class="mt-5">
                                <h3 class="  my-1 text-md text-left opacity-50">{vid.title.split(":")[0]}</h3>
                                <h3 class="my-1 text-md text-left">{vid.title.split(":")[1]}</h3>
                                {/* <p class="font-bold  p-3 text-sm ">{vid.creator}</p> */}
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        
            
                <!-- <img class="relative block h-auto w-full object-cover" src="/vocatio_fall.png" alt=""/> -->
        </div>
    </div>

    <Footer />
   
</body>

<script type="text/javascript">
    function openNewWindow(el) {
        window.open("./" + $(el).data("id"), "_blank");
    }
</script>


<script>
    (function() {

        var vid =document.getElementById("vid");

        function togglePlayPause() {
            if  (vid.paused) {
                vid.play();
                $("#play").addClass("hidden");
                $("#pause").removeClass("hidden");

            } else {
                vid.pause()
                $("#pause").addClass("hidden");
                $("#play").removeClass("hidden");
            };

        }

        togglePlayPause(); 


        $("#play, #pause").on("click", function() {
            togglePlayPause(); 
        });

    })();

</script>