---
import Header from "../../components/header.astro"
import Loader from "../../components/loader.astro";
import Category from "../../components/category-sidebar.astro";
import VideoSocialShare from "../../components/videosocialshare.astro"
import podcasts from "./podcasts.json";
import {SEO} from "astro-seo";


import "./../app.css"
import Footer from "../../components/footer.astro";
import Divider from "../../components/divider.astro";
export function getStaticPaths() {
  return [
    {params: {pod: '1'}},
    {params: {pod: '2'}},
    {params: {pod: '3'}},
    {params: {pod: '4'}}
  ];
}


const { pod } = Astro.params;

var res = {}
for (var vid of podcasts) {
    if (pod == vid.id) {
        res = vid;
    }
}

--- 

<head>
    <SEO
      title="Center for Vocational Formation : Vocatio Reimagined"
      description="Vocatio Reimagined is a podcasts that seeks exploring what it takes and the challenges around forming our vocation in a modern culture."
      openGraph={{
        basic: {
          title: "Center for Vocational Formation : Vocatio Reimagined",
          type: "Vocatio Reimagined is a podcasts that seeks to explore our vocational formation.",
          image: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "https://acu-cdn-pull.b-cdn.net/vocatiothumb.png",
          },
          { name: "twitter:title", content: "Center for Vocational Formation : Vocatio Reimagined" },
          { name: "twitter:description", content: "Vocatio Reimagined is a podcasts that seeks to explore our vocational formation." },
        ],
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</head>

<body class="h-screen bg-[#191B1F] ">

	<Loader />
    <Header position="relative" />

    <div class=" h-screen w-[98%] m-auto" id="">
        <div style="background: #191B1F" class="  overflow-hidden  bg-[#313638]  flex flex-col items-center justify-center ">

            <div class=" grid grid-cols-2 lg:grid-cols-6 lg:auto-rows-auto  gap-4  overflow-hidden lg:h-full  p-2">
                <!-- side bar -->
                <Category />
                
                <!-- video player -->
                <div class="col-span-2 row-start-1 lg:row-start-auto lg:col-span-5  h-full  lg:overflow-y-scroll">
                    <div class="w-fit h-auto relative rounded-lg overflow-hidden shadow-lg" >
                        <div id="overlay" class="invisible lg:visible absolute top-0 left-0 z-50 w-full h-full overflow-hidden rounded-lg">
                            <!--  -->
                            <img  class="relative blur-sm scale-110 multiply z-10 opacity-100 w-full h-full -top-7 -left-7" src="/image-90.png" alt="" />
                            
                            <div class="w-[90%] text-white h-fit absolute z-50 top-0 left-0 bottom-0 my-auto px-7">
                                <h1 class="poppins-bold text-5xl mb-3">{res.title}</h1>
                                <p class="font-bold opacity-50 text-md mb-5">{res.creator}</p>
                                <p class="text-base opacity-70">
                                    {res.description}
                                </p>
                                <div class="grid grid-cols-1 grid-rows-1">
                                    <VideoSocialShare title={res.title} link={"https://vocationalformation.com/podcasts/" + res.id} /> 
                                </div>
                            </div>
                        </div>

                        <video preload="auto" id="vid" class=" opacity-75 m-auto  rounded-lg overflow-hidden object-cover max-w-[1000px]" width="100%" height="100%"  muted autoplay playsinline>
                            <source src={res.url} type="video/mp4">
                        </video>
                    </div> 

                    <div class="lg:hidden grid grid-cols-2 p-2  h-auto z-30 mt-4 mb-3 text-white  ">
                        <div class="col-span-1 flex flex-col items-start">
                            <p class="font-bold opacity-50 text-sm">{res.creator}</p>
                            <h2 class=" my-2 text-lg lg:text-xl">{res.title}</h2>
                        </div>
                        
                        <VideoSocialShare title={res.title} link={"https://vocationalformation.com/podcasts/" + res.id} /> 

                        <div class="my-5 text-sm row-start-2 col-span-2">
                            <p class="opacity-70">
                               {res.description}
                            </p>
                        </div>

                        <Divider />
                    </div>
                </div>
                
                <!-- categories -->
                <div class="w-full col-span-2 lg:col-start-2 lg:col-span-5 lg:overflow-y-scroll no-scrollbar grid h-full  grid-cols-2 gap-3  lg:block  ">
                    <h3 class="col-span-2 p-2 font-bold mb-3 text-xl text-gray-400">
                        More on <span class="text-orange-500">Vocatio Reimagined</span>
                    </h3>
                    <div class="col-span-2 w-full grid grid-cols-2 lg:grid-cols-4 gap-3 ">
                        {podcasts.map((vid) => (
                            <a href={`/podcasts/` + vid.id} data-id={vid.id} class="whitespace-normal cursor-pointer mb-4 border border-gray-500 inline-grid grid-rows-2 lg:max-h-[300px]  transition-all ease-in-out text-white bg-transparent auto-rows-auto  overflow-hidden rounded-lg p-3">
                                   <div class="row-span-1  rounded-lg overflow-hidden">
                                   <img class="   m-auto  object-fit rounded-lg" src={vid.thumbnail} alt="" />
                               </div>
                               <div class="mt-5">
                                   <h3 class="  my-1 text-base text-left opacity-50">{vid.title.split(":")[0]}</h3>
                                   <h3 class="my-1 text-base text-left">{vid.title.split(":")[1]}</h3>
                                   {/* <p class="font-bold  p-3 text-sm ">{vid.creator}</p> */}
                               </div>
                           </a>
                       ))}
                    </div>
                   
                </div>
            </div>
        
            
                <!-- <img class="relative block h-auto w-full object-cover" src="/vocatio_fall.png" alt=""/> -->
        </div>
    </div>

    <!-- <Footer /> -->
   
</body>

<script>
    (function() {
        function checkScreenSize(video) {
            if (window.innerWidth < 1024) { // Adjust the breakpoint as needed
                video.setAttribute('controls', 'controls'); // Show controls on small screens
            } else {
                video.removeAttribute('controls'); // Hide controls on larger screens
            }
        }

        $(document).ready(function() {
            // This allows videos to autoplay with sound
            $("body").click();

            // set overlay hieght to video height
            var videoHeight = $("#vid").height();
            checkScreenSize(document.getElementById("vid"));
            window.addEventListener('resize', checkScreenSize(document.getElementById("vid")));
            // while ($("#vid").height() != $("#overlay").height()) {
            //     $("#overlay").height($("#vid").height());
            //     $("#overlay").fadeIn()
            // }
            var currentTime = 0;
            $("#play").on("click", function() {
                $("#overlay").fadeOut();
                var video = $("#vid");
                video[0].currentTime = currentTime;
                $("#vid").prop('controls', true);
                $("#vid").prop('muted', false);
                $("#vid").get(0).play();

            })

            

            $("#vid").on("pause", function() {
                currentTime = $(this).get(0).currentTime;
                $("#overlay").fadeIn();

            })
           
        })
    })();
</script>