---
import "./../app.css"
export function getStaticPaths() {
  return [
    {params: {pod: '1'}},
    {params: {pod: '2'}},
    {params: {pod: '3'}},
    {params: {pod: '4'}}
  ];
}

var videos =  [
     {id:"1", title: "Episode 1 : Creating Space in a Distracted World", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%201%20Creating%20Space%20in%20a%20Distractred%20World.m4v", link: Astro.url.origin + "/podcasts/1"},
     {id:"2", title: "Episode 2 : Radical Hospitality", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%202%20Radical%20Hospitality.m4v"},
     {id:"3", title: "Episode 3 : The spiritual Art of Slowing Down", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%203%20The%20Spiritual%20Art%20of%20Slowing%20Down.m4v"},
     {id:"4", title: "Episode 4 : When Your Calling and Career Don't Align", creator: "Dr. Christopher Cobbler", thumbnail: "/vocatiothumb.png", url: "https://acu-cdn-pull.b-cdn.net/Episode%204%20When%20Your%20Calling%20and%20Career%20Do%20Not%20Align.m4v"},
]

const { pod } = Astro.params;
const host = Astro.url.host;

var res = {}
for (var vid of videos) {
    if (pod == vid.id) {
        res = vid;
    }
}

--- 


<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css" integrity="sha512-/AilQf/shuEGfh8c3DoIqcIqHZCKpiImSyt+fxIKJphHiNa6QMPb6AbDly6rkjmGr/5OZd35JtvVkbEKnCZO+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/fullpage.min.css" integrity="sha512-cdMjnD4i86qiUIK3pyOMeYKdJ2I0gy0CVZm2AvGuXgMRDFdoIEI2I/x39pZlRsMaI4IEZBJbsNuWVawly1nY/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/fullpage.min.js" integrity="sha512-jedW9bHnXiSMKNbXfrEQ1gDCRYO8ewRlWPWPf4Fv1LpUyYB0fphiWlUVSGI2Dvwem1gUk0x1Y+cWs4lCwoEo8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js" integrity="sha512-0xW5KFMtT462F65vVvIejNawM1U2Fp/yhItmQVFUwdYP+R9tQFCn4QtLEhkp6RoGovZ6YCvbxy+GVCtGv0+nvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.29/vendors/easings.js" integrity="sha512-FFmLOg/pFlqTgDEWhqL3zxfLRRjv54Dx170T9CgCiTx4+iVVEMPXku6egqJ9wau9y9ORJIaPFuLYR3nsFBm5uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="hidden">

    <div class="h-full" id="fullpage">
		<div style="background: #313638" class="section  overflow-hidden  bg-[#313638] h-full flex flex-col items-center justify-center ">
		    <img class="absolute z-10 bg-blend-multiply opacity-50 w-full h-auto left-0 bottom-0 blur " src="/overlay.png" alt="" />
           
            <div class="absolute z-20  top-10 right-0 left-0 m-auto w-[90%] flex items-center justify-between">
				<img class="w-[10%] h-auto" src="/acu_logo.png" alt="logo"/>

				<div class="links w-[20%] flex items-center justify-end ">
					<a href="/" class="text-md text-white">About</a>
					<a href="/" class="text-md text-white mx-5">Benefits</a>
					<a href="/" class="text-md text-white">Login</a>
				</div>
			</div>

            
            <div class="z-20 absolute top-0 right-0  bottom-0 left-0  m-auto   w-fit h-fit  ">
             <!-- <img id="controlplay" class="absolute w-20 h-20 z-50 bottom-3 right-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM3pOh5Jpss90QbjOiLKG1HB-Qx3DZQsjoFA&s" alt="" /> -->
             <div class="relative rounded-lg overflow-hidden shadow-lg" >
                <svg id="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class=" absolute z-30 bottom-3 right-3  size-8">
                    <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
                </svg>
                <svg id="pause" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="hidden z-30 absolute bottom-3 right-3 size-8">
                    <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
                  </svg>
                  
                <video id="vid" class=" opacity-75 m-auto  rounded-lg overflow-hidden object-cover" width="700px" height="auto"  playsinline>
					<source data-src={res.url} type="video/mp4">
                </video>
            </div> 

            <div class="z-30 mt-4 mb-3 text-white flex flex-col items-start  ">
                    <p class="font-bold opacity-50 text-md">{res.creator}</p>
                    <h2 class=" my-2 raleway-thin text-xl">{res.title}</h2>
               
                    <div class="flex items-start justify-center">
                        <button id="exploreMore" class="col-span-1 hover:bg-stone-700 hover:text-white  my-3  rounded-full w-[200px] h-[50px] bg-white text-black text-sm p-3">
                            Explore more
                        </button>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=google.com">
                            Facebook
                        </a>
                    </div>
            </div>
             
                 <!-- <img class="relative block h-auto w-full object-cover" src="/vocatio_fall.png" alt=""/> -->
            </div>
		</div>
		<div class="section bg-stone-200" >
            <div class=" catalogue grid gap-10 grid-cols-2 h-screen  p-3">
                <div class="relative m-auto col-span-1 w-full flex items-center justify-center h-full rounded-lg overflow-hidden bg-black">
                    <video class="z-10 absolute top-0 left-0 opacity-50 m-auto  rounded-lg overflow-hidden object-cover" width="auto" height="100%" data-autoplay autoplay muted loop playsinline>
                        <source data-src="https://acu-cdn-pull.b-cdn.net/modernhome.mp4" type="video/mp4">
                    </video>

                    <div class="z-20 m-auto ">
                        <img class="w-1/2 m-auto" src="/vocatiologo.png" alt="" />
                        <div class="m-auto my-3 w-[60%] text-white text-center">
                            <p>Explore your vocatio through short-form, calming videos. From the desk of Dr. Christopher Cobbler
                                you are able to experience a new paradigm regarding how to pursue your call.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-auto grid grid-cols-3  gap-4 col-span-1">
                    <div class="col-span-3 row-span-1">
                        <h1>Watch more episodes.</h1>
                    </div>

                    <script type="text/javascript">
                        function openNewWindow(el) {
                            window.open("./" + $(el).data("id"), "_blank");
                        }
                    </script>

                    {videos.map((vid) => (
                        <div onclick="openNewWindow(this)" data-id={vid.id} class="cursor-pointer grid cols-span-1 row-span-1 max-h-[300px]  transition-all ease-in-out hover:bg-black hover:text-white text-black bg-transparent auto-rows-auto  overflow-hidden rounded-lg p-3">
                            <img class="w-[100%] m-auto h-auto object-fit rounded-lg" src={vid.thumbnail} alt="" />
                            <div class="mt-5">
                                <h3 class="raleway-thin  my-1 text-md">{vid.title}</h3>
                                {/* <p class="font-bold  p-3 text-sm ">{vid.creator}</p> */}
                            </div>
                        </div>
                    ))}



                </div>
            </div>
        </div>
    </div>

   
</body>


<script>
    (function() {
        var myFullpage = new fullpage("#fullpage", {
            // Get your license at https://alvarotrigo.com/fullPage/pricing
            licenseKey: "M9D46-QB92H-PJH47-SR3PK-YYTON"
        })

        var vid =document.getElementById("vid");

        function togglePlayPause() {
            if  (vid.paused) {
                vid.play();
                $("#play").addClass("hidden");
                $("#pause").removeClass("hidden");

            } else {
                vid.pause()
                $("#pause").addClass("hidden");
                $("#play").removeClass("hidden");
            };

        }

        $("#play, #pause").on("click", function() {
            togglePlayPause(); 
        });

        $("#exploreMore").on("click", function() {
            myFullpage.moveTo(2);
        });
    })();

</script>